body {
    background-color: rgba(0,0,0);
}

.link-nav {
    color: white;
}

#opCategorias {
    color: white;
}

img.d-block {
    border: 1px solid red;
    margin: auto;
}

.carousel-item .text-white {
    border: 1px solid blue;
    text-align: center;
}

.bgDark {
    background-color: rgba(0,0,0);
}